[Unit]
Description=Apache Kafka Server
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
ExecStart={{ kafka_install_dir }}/bin/kafka-server-start.sh {{ kafka_install_dir }}/config/kraft/server.properties
ExecStop={{ kafka_install_dir }}/bin/kafka-server-stop.sh
Restart=on-failure
User={{ kafka_user }}
Group={{ kafka_group }}
StandardOutput=file:{{ kafka_log_dir }}/kafka.out.log
StandardError=file:{{ kafka_log_dir }}/kafka.err.log

[Install]
WantedBy=multi-user.target