process.roles=broker,controller
node.id={{ node_id }}
controller.quorum.voters={{ controller_quorum_voters }}
listeners=PLAINTEXT://{{ ansible_host }}:{{ broker_port }},CONTROLLER://{{ ansible_host }}:{{ controller_port }}
listener.security.protocol.map=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
controller.listener.names=CONTROLLER
log.dirs={{ kafka_data_dir }}
num.network.threads=3
num.io.threads=8
socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600
log.retention.hours={{ message_retention_hours }}
log.segment.bytes=1073741824
log.retention.check.interval.ms=300000
group.initial.rebalance.delay.ms=0
message.max.bytes={{ max_message_size_bytes }}
max.request.size={{ max_message_size_bytes }}
auto.create.topics.enable=false
{% if install_mode == 'replicated' %}
offsets.topic.replication.factor=2
transaction.state.log.replication.factor=2
transaction.state.log.min.isr=2
default.replication.factor=2
num.partitions=2
{% else %}
offsets.topic.replication.factor=1
transaction.state.log.replication.factor=1
transaction.state.log.min.isr=1
default.replication.factor=1
num.partitions=1
{% endif %}
